body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: #121212;
    color: #ffffff;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px; /* Space above the h1 */
    margin-bottom: 20px; /* Space below the h1 to match chat window */
    padding: 0;
    text-shadow: 2px 2px 4px rgba(249, 249, 249, 0.5);
}

#title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; /* Horizontal margins */
}

#title-container img {
    height: 65px;
    margin-right: 10px;
    border-radius: 50%;
}

#chat {
    flex-grow: 1;
    background: #1e1e1e;
    border: 1px solid #333;
    margin: 20px 10px; /* Increased top and bottom margin */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#chat::-webkit-scrollbar, #chat::-webkit-scrollbar-thumb, #chat::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background-color: #2e2e2e;
}

#chat::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

#chat::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.user-message, .ai-message {
    word-break: break-word;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    width: fit-content; /* Adjust width to content */
    max-width: 90%; /* Prevent the bubble from becoming too wide */
}

.ai-message {
    background: rgba(0, 95, 160, 0.75);
    align-self: flex-start; /* Align to the left */
    margin-right: auto; /* Push the bubble to the left */
}

.user-message {
    background: rgba(70, 150, 177, 0.75);
    align-self: flex-end; /* Align to the right */
    margin-left: auto; /* Push the bubble to the right */
}

.ai-agent-name {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
    display: block;
}

#chat-form {
    display: flex;
    margin: 0 10px 20px 10px; /* Aligned horizontal margins with #chat, increased bottom margin */
    width: calc(100% - 40px); /* Match the width of the chat box */
    align-items: center;
}

#chat-form textarea {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #262626;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 15px;
    resize: vertical;
    line-height: 1.5;
    overflow-y: auto;
}

/* Scrollbar Styles for Textarea */
#chat-form textarea::-webkit-scrollbar, 
#chat-form textarea::-webkit-scrollbar-thumb, 
#chat-form textarea::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background-color: #2e2e2e;
}

#chat-form textarea::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

#chat-form textarea::-webkit-scrollbar-thumb:hover {
    background: #777;
}

#chat-form button {
    width: auto;
    padding: 12px 24px;
    border: 2px solid #0057b7; /* Solid border to support the neon glow */
    background: #0057b7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    position: relative; /* Needed for pseudo-element positioning */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#chat-form button:hover {
    background-color: #004c9e;
}

#chat-form button:disabled {
    background-color: #004c9e;
}

#chat-form button.sending {
    pointer-events: none; /* Prevents further clicks during the sending process */
    animation: movingGlow 15s linear infinite;
    background-image: linear-gradient(270deg, #01356b, #0057b7, #01356b);
    background-size: 200% 200%;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

@keyframes movingGlow {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

pre {
    position: relative; /* Ensure that the pre element is positioned relative to place the copy button absolutely within it */
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #e1e4e8;
    padding: 30px 16px 16px 16px; /* Padding to make room for the button */
    margin: 10px 0;
    overflow-x: auto;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 18px;
    border-radius: 6px;
}

.copy-button {
    position: absolute; /* Position the copy button absolutely within the pre element */
    top: 8px; /* Position at the top inside the pre block */
    right: 8px; /* Position on the right inside the pre block */
    padding: 8px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    font-size: 12px;
    color: #333;
    line-height: 1;
    text-align: center;
}

.copy-button:before {
    content: '📋';
    margin-right: 5px;
}

/* Animation effect on hover */
.copy-button:hover {
    background-color: #e7e7e7;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Animation effect on click */
.copy-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

code {
    background: none;
    padding: 0;
}

#top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px; /* Horizontal margins aligned with #chat */
    width: calc(100% - 40px); /* Width adjusted to match chat box */
}

#clearButton, #assistant-select-wrapper {
    flex-grow: 0;
    margin: 0 5px;
}

#clearButton {
    padding: 10px 15px;
    font-size: 14px;
    background: #262626;
    border: 1px solid #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#assistant-select-wrapper {
    flex-grow: 1;
    display: flex;
}

#assistant-dropdown {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #262626;
    color: white;
    font-size: 14px;
}

#clearButton:hover, #assistant-dropdown:hover {
    border-color: #ff4500;
    animation: pulseBorder 2s infinite;
}

@media (max-width: 600px) {
    h1, #title-container, #top-controls, #chat, #chat-form {
        margin: 20px 10px; /* Consistent vertical margin for all elements */
        width: calc(100% - 20px); /* Adjust width for small screens */
    }

    #top-controls {
        flex-direction: column;
    }

    #clearButton, #assistant-select-wrapper, #assistant-dropdown {
        width: 100%;
        margin-bottom: 10px;
    }

    #chat-form button {
        margin-right: 10px;
    }
}